[submodule "src_Core/BSV_Additional_Libs/BlueStuff"]
	path = src_Core/BSV_Additional_Libs/BlueStuff
	url = https://github.com/CTSRD-CHERI/BlueStuff.git
[submodule "src_Core/BSV_Additional_Libs/WindCoreInterface"]
	path = src_Core/BSV_Additional_Libs/WindCoreInterface
	url = https://github.com/CTSRD-CHERI/WindCoreInterface.git
