[submodule "src_Core/BSV_Additional_Libs/BlueStuff"]
	path = src_Core/BSV_Additional_Libs/BlueStuff
	url = https://github.com/CTSRD-CHERI/BlueStuff.git
[submodule "Tests/benchmarks"]
	path = Tests/benchmarks
	url = https://github.com/CTSRD-CHERI/toooba-sim-benchmarks.git
    branch = main
[submodule "libs/TagController"]
	path = libs/TagController
	url = https://github.com/CTSRD-CHERI/TagController.git
